<!doctype html>
<html>
<head>
	<title>DB Interaction</title>
	<link rel="stylesheet" href="/css/styles.css">
	
</head>
<body>
	<h3>TEST</h3>
	<h3>Assignment: DB Interactions</h3>
	{{{body}}}
</body>
</html>